@use '../../../../assets/styles/variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 10px;
}

.input {
  padding: 8px 10px;
  margin: 10px;
  outline: none;
  border: 2px solid $border-color;
  border-radius: 2px;
  &:focus {
    border: 2px solid $primary-color;
  }
}

.length {
  &-half {
    width: 100%;
  }
  &-full {
    width: unset;
  }
}
