<div class="tt-menu" [ngClass]="[isOpened ? 'opened' : 'closed']">
  <mat-icon (click)="toggleMenuState()" *ngIf="!isOpened" class="icon toggler">menu</mat-icon>
  <mat-icon (click)="toggleMenuState()" *ngIf="isOpened" class="toggler">arrow_back</mat-icon>
  <div class="items">
    <div *ngFor="let item of navMenuItems" class="items-item">
      <mat-icon class="items-item-icon" *ngIf="isOpened">{{ item.icon }}</mat-icon>
      <mat-icon class="items-item-icon" *ngIf="!isOpened" >{{ item.icon }}</mat-icon>
      <span class="items-item-label">{{ item.label }}</span>
    </div>
  </div>
  <div class="items">
    <div *ngFor="let item of logoutMenuItem" class="items-item">
      <mat-icon class="items-item-icon" *ngIf="isOpened">{{ item.icon }}</mat-icon>
      <mat-icon class="items-item-icon" *ngIf="!isOpened" (click)="handleLogout()">{{ item.icon }}</mat-icon>
      <span class="items-item-label">{{ item.label }}</span>
    </div>
  </div>
</div>

