@use '../../../../assets/styles/variables' as *;

.tt-menu {
  height: 100%;
  background-color: $menu-main;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 10px;
  justify-content: space-between;

  .items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 10px;

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .icon {
    &:hover {
      cursor: pointer;
    }
  }
}

.closed {
  width: 26px;

  .items {
    overflow: hidden;
    width: 140px;

    &-item {
      &-icon {
        &:hover {
          cursor: pointer;
        }
      }
      &-label {
        transition: opacity 0.5s;
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.opened {
  width: 140px;

  .items {
    overflow: hidden;
    width: 140px;

    &-item {
      &-label {
        transition: opacity 1s;
        opacity: 1;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.toggler {
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}
